<div class="container">
  <div *ngIf="!!gridService.isAuthenticated" class="">
    <div class="row p-2">
      <div class="col-2">
        <app-button
          [text]="'Leave'"
          [type]="'secondary'"
          (clicked$)="handleLeave()"
        >
        </app-button>
      </div>
      <div class="col-10">
        <h3>{{ "Connected to: " + gridService.gridid }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-grid> </app-grid>
      </div>
    </div>
  </div>
  <div *ngIf="!gridService.isAuthenticated" class="col-12">
    <div class="card">
      <div class="card-header">
        <p>Please enter your grid credentials:</p>
        <div
          *ngIf="!!gridService.status"
          class="alert alert-danger"
          role="alert"
        >
          {{ gridService.status }}
        </div>
      </div>
      <div class="card-body">
        <div class="p-1">
          <app-textbox
            [text]="gridService.gridid"
            [type]="'text'"
            [placeholder]="'Grid ID'"
            [id]="'grid_id'"
            (textChanged$)="handleGridIdChange($event)"
          ></app-textbox>
        </div>
        <div class="p-1">
          <app-textbox
            [type]="'password'"
            [text]="gridService.password"
            [placeholder]="'Password'"
            [id]="'password'"
            (textChanged$)="handlePasswordChange($event)"
          ></app-textbox>
        </div>
        <div class="p-1">
          <app-button
            [text]="'Enter'"
            [type]="'primary'"
            (clicked$)="handleLogin()"
          ></app-button>
        </div>
      </div>
    </div>
    <p>
      <br />
      If you want to test this feature use:
      <br />
      <b>Grid ID: </b> <i>testkampanj</i>
      <br />
      <b>Password: </b> <i>123</i>
      <br />
      <br />
      If you want to run you own campaign with
      <br />
      a grid only accessible by you and your players
      <br />
      send me an email: fiskmoz96@gmail.com
    </p>
  </div>
</div>
