<div class="card bg-dynamic">
  <div class="card-body p-1">
    <div class="d-flex">
      <div>
        <app-button
          [text]="increaseButtonText"
          [large]="false"
          [small]="true"
          [type]="'primary'"
          (clicked$)="onIncrease($event)"
        ></app-button>
      </div>

      <div class="ml-auto">
        <app-button
          [text]="decreaseButtonText"
          [large]="false"
          [small]="true"
          [type]="'danger'"
          (clicked$)="onDecrease($event)"
        ></app-button>
      </div>
    </div>
  </div>
</div>
