<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="">
    <a class="navbar-brand">
      <img class="img-fluid rounded" src="/assets/images/dnd-logo.png" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" id="nav_search" (click)="onLinkClick($event)"
          >Search</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav_generate" (click)="onLinkClick($event)"
          >Generate</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav_initiative" (click)="onLinkClick($event)"
          >Initiative</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav_grid" (click)="onLinkClick($event)"
          >Grids</a
        >
      </li>
    </ul>
  </div>
</nav>
