<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h4>Encounter difficulty</h4>
        Easy:
        {{ MonsterService.GetMonsterMultiplier(playerSerivce.easyEncounter) }}xp
        Medium:
        {{
          MonsterService.GetMonsterMultiplier(playerSerivce.mediumEncounter)
        }}xp Hard:
        {{ MonsterService.GetMonsterMultiplier(playerSerivce.hardEncounter) }}xp
        Deadly:
        {{
          MonsterService.GetMonsterMultiplier(playerSerivce.deadlyEncounter)
        }}xp
        <div class="d-flex">
          <div class="pr-2 pt-2">
            <app-button
              [text]="'Add Player'"
              [small]="true"
              [type]="'primary'"
              (clicked$)="onPlayerAdd()"
            ></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let player of playerSerivce.playerList">
      <app-create-player
        [player]="player"
        (playerChanged$)="onPlayerChanged()"
        (playerDuplicated$)="playerSerivce.AddNewPlayer(player)"
        (playerRemoved$)="this.playerSerivce.RemovePlayer(player)"
      ></app-create-player>
    </div>
  </div>
</div>
