<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h4>Encounter difficulty</h4>
        <p>
          Easy: {{ playerSerivce.easyEncounter }}xp Medium:
          {{ playerSerivce.mediumEncounter }}xp Hard:
          {{ playerSerivce.hardEncounter }}xp Deadly:
          {{ playerSerivce.deadlyEncounter }}xp
        </p>
        <div class="d-flex">
          <div class="pr-2">
            <app-button
              [text]="'Add Player'"
              [small]="true"
              [type]="'primary'"
              (clicked$)="onPlayerAdd()"
            ></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let player of playerSerivce.playerList">
      <app-create-player
        [player]="player"
        (playerChanged$)="onPlayerChanged()"
        (playerDuplicated$)="playerSerivce.AddNewPlayer(player)"
        (playerRemoved$)="this.playerSerivce.RemovePlayer(player)"
      ></app-create-player>
    </div>
  </div>
</div>
