<div class="text-dark" cdkDropListGroup>
  <div class="grid-container mx-auto mb-3 bg-brown">
    <div class="d-flex justify-content-between w-100 px-2">
      <div class="my-auto px-4">
        <div>Selected:</div>
        <div class="{{ 'grid-box mt-3 ' + selectedColor }}">
          {{ this.selectedText }}
        </div>
        <div class="mt-2 d-flex">
          <div class="mx-auto">
            <app-button
              [text]="'Clear'"
              [small]="true"
              [type]="'info'"
              (clicked$)="resetPrevious()"
            ></app-button>
          </div>
        </div>
      </div>
      <div class="text-center">
        <p>Select the boxes you want</p>
        <div cdkDropList (cdkDropListDropped)="drop($event)" #toolboxElem>
          <div
            cdkDrag
            class="{{ 'grid-box ' + selectedColor }}"
            *ngFor="let item of toolboxIds"
            (click)="handleToolbarClick(item)"
          >
            {{ item }}
            <div *cdkDragPlaceholder></div>
          </div>
        </div>
        <div class="card-body pt-2">
          <span class="p-1"
            ><app-button
              [text]="'black'"
              [small]="true"
              [type]="'dark'"
              (clicked$)="onColorSwitch('bg-dark')"
            ></app-button
          ></span>
          <span class="p-1"
            ><app-button
              [text]="'white'"
              [small]="true"
              [type]="'light'"
              (clicked$)="onColorSwitch('bg-white')"
            ></app-button
          ></span>
          <span class="p-1"
            ><app-button
              [text]="'green'"
              [small]="true"
              [type]="'success'"
              (clicked$)="onColorSwitch('bg-success')"
            ></app-button
          ></span>
          <span class="p-1"
            ><app-button
              [text]="'blue'"
              [small]="true"
              [type]="'primary'"
              (clicked$)="onColorSwitch('bg-primary')"
            ></app-button
          ></span>
          <span class="p-1"
            ><app-button
              [text]="'red'"
              [small]="true"
              [type]="'danger'"
              (clicked$)="onColorSwitch('bg-danger')"
            ></app-button
          ></span>
          <span class="p-1"
            ><app-button
              [text]="'yellow'"
              [small]="true"
              [type]="'warning'"
              (clicked$)="onColorSwitch('bg-warning')"
            ></app-button
          ></span>
          <span class="p-1"
            ><app-button
              [text]="'gray'"
              [small]="true"
              [type]="'secondary'"
              (clicked$)="onColorSwitch('bg-secondary')"
            ></app-button
          ></span>
        </div>
      </div>
      <div class="d-flex">
        <span class="my-auto px-4"
          ><app-button
            [text]="'Reset Board'"
            [small]="true"
            [type]="'info'"
            (clicked$)="openModal(content)"
          ></app-button
        ></span>
      </div>
    </div>
  </div>
  <div class="grid-container mx-auto bg-brown py-3">
    <ng-container *ngFor="let item of battlefieldSquares; let j = index">
      <div
        cdkDropList
        class="mw"
        (cdkDropListDropped)="drop($event)"
        [id]="j"
        #battlefieldElem
      >
        <div
          cdkDrag
          (click)="handleClick(j)"
          class="{{ 'grid-box grid-box-main ' + item.color }}"
        >
          {{ item.text != "0" ? item.text : null }}
          <div *cdkDragPlaceholder></div>
        </div>
        <div class="{{ 'grid-box  box-ground-layer ' + item.color }}">
          {{ item.text != "0" ? item.text : null }}
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header bg-dynamic">
    <h4 class="modal-title" id="modal-basic-title">Are you sure?</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-dynamic">
    <p>
      Are you sure you want to reset the board?
      <br />
      Everything will be removed for you and everyone using the grid
    </p>
    <div class="pt-2">
      <app-button
        class="pr-2"
        [text]="'Approve'"
        [small]="true"
        [type]="'primary'"
        (clicked$)="onReset()"
      >
      </app-button>
      <app-button
        [text]="'Cancel'"
        [small]="true"
        [type]="'danger'"
        (clicked$)="closeModal()"
      >
      </app-button>
    </div>
  </div>
</ng-template>
