<div class="card">
  <div class="row">
    <div class="col-8">
      <p>
        <b>{{ entity.name + (!!entity.suffix ? " " + entity.suffix : "") }}</b>
      </p>
      <div>
        {{ "init: " + entity.initiative }}
        {{ !!entity.hitpoints ? "hp: " + entity.hitpoints : "" }}
      </div>
    </div>
    <div class="col-4">
      <div class="img-container">
        <summary *ngIf="entity.monster">
          <img
            src="https://i.imgur.com/OWTsHDl.jpeg"
            alt=""
            class="img-thumbnail img-fluid p-0"
            (click)="onImageClick()"
          />
        </summary>
        <img
          *ngIf="entity.player"
          src="https://i.imgur.com/ZSH9ikY.jpg"
          alt=""
          class="img-thumbnail img-fluid p-0"
        />
      </div>
    </div>
  </div>
</div>
