<div class="card">
  <div class="row">
    <div class="col-8">
      <p>
        <b>{{ entity.name }}</b>
      </p>
      <div>
        {{ "init: " + entity.initiative }}
        {{ !!entity.hitpoints ? "hp: " + entity.hitpoints : "" }}
      </div>
    </div>
    <div class="col-4">
      <div class="img-container">
        <img
          src="{{
            entity.player
              ? 'https://i.imgur.com/ZSH9ikY.jpg'
              : 'https://i.imgur.com/OWTsHDl.jpeg'
          }}"
          alt=""
          class="img-thumbnail img-fluid"
        />
      </div>
    </div>
  </div>
</div>
