<div class="card bg-dynamic">
  <div class="card-body">
    Character name:
    <app-textbox
      [placeholder]="player.name ? player.name : 'enter character name...'"
      [type]="'text'"
      (textChanged$)="nameChanged($event)"
    ></app-textbox>
    <div *ngIf="!initiative">
      Character level:
      <app-dropdown
        [list]="[
          '1',
          '2',
          '3',
          '4',
          '5',
          '6',
          '7',
          '8',
          '9',
          '10',
          '11',
          '12',
          '13',
          '14',
          '15',
          '16',
          '17',
          '18',
          '19',
          '20'
        ]"
        [default]="player.level"
        (change$)="levelChanged($event)"
      ></app-dropdown>
      <div class="pt-2">
        <app-adjust
          [decreaseButtonText]="'remove'"
          [increaseButtonText]="'duplicate'"
          (decreased$)="onPlayerRemove()"
          (increased$)="onDuplicatePlayer()"
        ></app-adjust>
      </div>
    </div>
    <div *ngIf="initiative">
      Character initiative:
      <app-dropdown
        [list]="[
          '0',
          '1',
          '2',
          '3',
          '4',
          '5',
          '6',
          '7',
          '8',
          '9',
          '10',
          '11',
          '12',
          '13',
          '14',
          '15',
          '16',
          '17',
          '18',
          '19',
          '20',
          '21',
          '22',
          '23',
          '24',
          '25',
          '26',
          '27',
          '28',
          '29',
          '30'
        ]"
        [default]="player.initiative ? player.initiative : 0"
        (change$)="initiativeChanged($event)"
      ></app-dropdown>
    </div>
  </div>
</div>
