<div class="card bg-dynamic">
  <div class="card-body bg-secondary">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="header">
          <h3>{{ player.name }}</h3>
          <p>
            <i>
              {{ player.class }}
            </i>
          </p>
        </div>
        <div>
          <p><b>Level:</b> {{ player.level }}</p>
        </div>
        <div>
          <p><b>Background:</b> {{ player.background }}</p>
        </div>
        <div>
          <p><b>Alignment:</b> {{ player.alignment }}</p>
        </div>
        <div>
          <p>{{ player.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
