<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="pb-3">
          <p>Filter by spell level</p>
          <app-dropdown
            *ngIf="!!spellService.levels"
            [list]="spellService.levels"
            [default]="spellService.levels[0]"
            (change$)="onLevelRequirementChange($event)"
          ></app-dropdown>
        </div>
        <app-typeahead
          *ngIf="IsInitialized()"
          (selected)="onSpellSelect($event)"
          [list]="localSpellList"
          [label]="'Search for a spell!'"
          (click)="setAvalibleSpells()"
          [id]="'spell-search-typeahead'"
        >
        </app-typeahead>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <app-spell-card *ngIf="selectedSpell" [spell]="selectedSpell">
    </app-spell-card>
  </div>
</div>
