<div class="card">
  <div class="card-body">
    Character name:
    <app-textbox
      [placeholder]="'enter character name...'"
      (textChanged$)="nameChanged($event)"
    ></app-textbox>
    Character level:
    <app-dropdown
      [list]="[
        '1',
        '2',
        '3',
        '4',
        '5',
        '6',
        '7',
        '8',
        '9',
        '10',
        '11',
        '12',
        '13',
        '14',
        '15',
        '16',
        '17',
        '18',
        '19',
        '20'
      ]"
      (change$)="levelChanged($event)"
    ></app-dropdown>
  </div>
</div>
