<div class="container-xl">
  <div class="row">
    <div class="col-12 px-0">
      <app-header (pageChange)="onPageChange($event)"></app-header>
    </div>
  </div>
  <div *ngIf="navigation == 'generate'" class="row">
    <div class="col-md-6 col-sm-12 col-lg-6">
      <app-create-player-wrapper></app-create-player-wrapper>
    </div>
    <div class="col-md-6 col-sm-12 col-lg-6">
      <app-create-encounter></app-create-encounter>
    </div>
  </div>
  <div *ngIf="navigation == 'search'" class="row">
    <div class="col-12">
      <app-search-view></app-search-view>
    </div>
  </div>
  <div *ngIf="navigation == 'initiative'" class="row">
    <div class="col-12">
      <app-initiative></app-initiative>
    </div>
  </div>
  <div *ngIf="navigation == 'grid'" class="row">
    <app-grid-controller></app-grid-controller>
  </div>
  <div *ngIf="navigation == 'player-tools'" class="row">
    <app-player-tools-controller></app-player-tools-controller>
  </div>
</div>
