<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="header">
          <h3>{{ monster.name }}</h3>
          <p>
            <i>{{ monster.type }}, {{ monster.alignment }}</i>
          </p>
        </div>
        <div>
          <p><b>Armor class: </b>{{ monster.armor_class }}</p>
          <p>
            <b>Hit Points: </b>{{ monster.hit_points }} ({{ monster.hit_dice }})
          </p>
          <p><b>Speed: </b>{{ monster.speed }}</p>
        </div>
        <div>
          <p>
            <b>STR </b> {{ monster.strength }}({{
              (monster.strength - 10) / 2 | floor
            }}) <b>DEX </b> {{ monster.dexterity }}({{
              (monster.dexterity - 10) / 2 | floor
            }}) <b>CON </b> {{ monster.constitution }}({{
              (monster.constitution - 10) / 2 | floor
            }})
          </p>
          <p>
            <b>INT </b> {{ monster.intelligence }}({{
              (monster.intelligence - 10) / 2 | floor
            }}) <b>WIS </b> {{ monster.wisdom }}({{
              (monster.wisdom - 10) / 2 | floor
            }}) <b>CHA </b> {{ monster.charisma }}({{
              (monster.charisma - 10) / 2 | floor
            }})
          </p>
        </div>
        <div>
          <p *ngIf="!!monster.damage_immunities">
            <b>Damage Immunities:</b> {{ monster.damage_immunities }}
          </p>
          <p *ngIf="!!monster.damage_resistances">
            <b>Resistance:</b> {{ monster.damage_resistances }}
          </p>
          <p *ngIf="!!monster.damage_vulnerabilities">
            <b>Vulnerabilities:</b> {{ monster.damage_vulnerabilities }}
          </p>
          <p *ngIf="!!monster.condition_immunities">
            <b>Condition Immunities:</b> {{ monster.condition_immunities }}
          </p>
          <p><b>Senses: </b> {{ monster.senses }}</p>
          <p><b>Languages: </b> {{ monster.languages }}</p>
          <p>
            <b>Challenge: </b> {{ monster.challenge_rating }} ({{
              crToXPTable[monster.challenge_rating]
            }}
            xp)
          </p>
        </div>
        <div>
          <div *ngIf="!!monster.special_abilities">
            <div *ngFor="let ability of monster.special_abilities">
              <p>
                <b>{{ ability.name }}: </b> {{ ability.desc }}
              </p>
            </div>
          </div>
          <div *ngIf="!!monster.legendary_desc">
            <p><b>Legendary Description:</b></p>
            <p>{{ monster.legendary_desc }}</p>
          </div>
          <div *ngIf="!!monster.legendary_actions">
            <div *ngFor="let ability of monster.legendary_actions">
              <p>
                <b>{{ ability.name }}: </b> {{ ability.desc }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="p-2" *ngIf="enableOptions">
          <app-adjust
            [decreaseButtonText]="'remove'"
            [increaseButtonText]="'duplicate'"
            (decreased$)="onRemoveMonster()"
            (increased$)="onDuplicateMonster()"
          ></app-adjust>
        </div>
        <img
          *ngIf="!!monster.img_url"
          src="{{ monster.img_url }}"
          class="img-fluid"
        />
        <div *ngIf="!!monster.actions">
          <div *ngFor="let ability of monster.actions">
            <p>
              <b>{{ ability.name }}: </b> {{ ability.desc }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
