<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="pb-3">
          <p>Filter by monster challenge rating</p>
          <app-dropdown
            *ngIf="!!monsterService.monstersQuickSort"
            [list]="monsterService.crList"
            [default]="monsterService.crList[0]"
            (change$)="onCrRequirementChange($event)"
          ></app-dropdown>
        </div>
        <div>
          <app-typeahead
            *ngIf="IsInitialized()"
            (selected)="onNewSelected($event)"
            [list]="localMonsterList"
            [label]="'Search for a dnd monster!'"
            [id]="'monster-search-typeahead'"
          >
          </app-typeahead>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <app-monster-card
      *ngIf="selectedMonster"
      [monster]="selectedMonster"
      [crToXPTable]="monsterService.crToXpTable"
    >
    </app-monster-card>
  </div>
</div>
