<div class="card bg-dynamic">
  <div class="d-flex">
    <div class="">
      <div class="p-2">
        <b>{{ entity.name + (!!entity.suffix ? " " + entity.suffix : "") }}</b>
        <div>
          {{ "init: " + entity.initiative }}
          {{ !!entity.hitpoints ? "hp: " + entity.hitpoints : "" }}
          {{ !!entity.initiative_duplicate ? "prio: " + entity.priority : "" }}
        </div>
        <app-button
          *ngIf="!!entity.initiative_duplicate"
          [text]="'+ prio'"
          [small]="true"
          [type]="'primary'"
          (clicked$)="onIncreasePrio()"
        >
        </app-button>
      </div>
    </div>
    <div class="ml-auto d-flex">
      <div class="img-container my-auto">
        <summary *ngIf="entity.monster">
          <img
            src="https://i.imgur.com/OWTsHDl.jpeg"
            alt=""
            class="img-thumbnail img-fluid p-0"
            (click)="onImageClick()"
          />
        </summary>
        <img
          *ngIf="entity.player"
          src="https://i.imgur.com/ZSH9ikY.jpg"
          alt=""
          class="img-thumbnail img-fluid p-0"
        />
      </div>
    </div>
  </div>
</div>
