<div class="container px-lg-3 px-0">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-4 col-12">
          <app-typeahead
            *ngIf="!!monsterService.monstersQuickSort"
            (selected)="onNewSelected($event)"
            [list]="monsterService.GetMonsterNames()"
            [label]="'Add a monster!'"
          >
          </app-typeahead>
        </div>
        <div class="col-lg-4 mt-3 mt-lg-0 col-12 d-flex">
          <div class="my-auto mx-auto">
            <app-button
              [text]="'Randomize monster initiative'"
              [small]="true"
              [type]="'primary'"
              (clicked$)="onInitiativeStart()"
            >
            </app-button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-3 col-12">
      <span *ngFor="let player of playerService.playerList">
        <app-create-player
          [player]="player"
          [initiative]="true"
          (playerChanged$)="onPlayerChanged()"
        >
        </app-create-player>
      </span>
    </div>
    <div class="col-lg-4 mt-3 col-12">
      <span *ngFor="let monster of monsterService.currentEncounter">
        <app-initiative-monster
          [monster]="monster"
          (duplicate$)="onDuplicateMonster(monster)"
          (remove$)="onRemoveMonster(monster)"
          (changed$)="onMonsterChanged(monster)"
          (nameClicked$)="openModal(content, monster.name)"
        >
        </app-initiative-monster>
      </span>
    </div>
    <div class="col-lg-4 mt-3 col-12">
      <div *ngFor="let entity of initiativeList">
        <app-initiative-entity
          [entity]="entity"
          (imageClicked$)="
            !!entity.monster ? openModal(content, entity.name) : ''
          "
          (increasePrio$)="IncreasePrio(entity)"
        >
        </app-initiative-entity>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header bg-dynamic">
    <h4 id="modal-basic-title">Monster Stats</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body p-0 bg-dynamic">
    <app-monster-card
      [monster]="modalMonster"
      [enableOptions]="false"
      [crToXPTable]="monsterService.crToXpTable"
    >
    </app-monster-card>
  </div>
</ng-template>
